<html>
  <head>
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>{{title}}</h1>
    <h3>Portfolio</h3>
    <div style="display: flex;flex-direction: column; align-items:center;">
      <ol>
        <li>/gitgub</li>
        <li>/playlists</li>
        <li>/playlists/:playlistId</li>
        <li>/books</li>
        <li>/anime</li>
      </ol>
      <img src="../util/panda.webp" mimeType="image/webp" />
    </div>

  </body>
</html>